{% extends 'catalog/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Форма Catalog</h1>
        <p class="card-text mb-auto">Действительно хотите удалить {{ object.header }}</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">
                Удалить
            </button>
            <a class="btn btn-primary" href="{% url 'products:products_list' %}" role="button">Отменить</a>
        </form>
        <a href="{% url 'products:products_list' %}">Назад к списку</a>
    </div>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
{% endblock %}